<h1>Mes listes</h1>

<%= link_to "Nouvelle liste", new_list_path, class: "btn btn-primary" %>

<% @lists.each do |list| %>
  <h2>
    <%= list.name %>
    <%= link_to "✖",
                list_path(list),
                method: :delete,
                data: { confirm: "Supprimer cette liste ?" },
                style: "color: red; text-decoration: none; font-size: 14px; margin-left: 8px;" %>
  </h2>

  <% if list.photo.attached? %>
    <%= image_tag list.photo, class: "img-fluid" %>
  <% end %>
<% end %>
