<h1>Mes listes</h1>

<%= link_to "Nouvelle liste", new_list_path, class: "btn btn-primary" %>

<ul class="mt-3">
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
